@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url("/src/assets/fonts/Rubik-VariableFont_wght.woff2") format("woff2");
    font-weight: 400 900;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url("/src/assets/fonts/Orbitron-VariableFont_wght.woff2")
        format("woff2");
    font-weight: 400 900;
    font-style: normal;
}

@layer base {
    :root {
        --radius: 0.5rem;
    }

    * {
        @apply border-zinc-800 ring-teal-600 ring-offset-zinc-950;
    }

    body {
        @apply bg-zinc-950 font-rubik text-slate-100;
    }
}

@layer utilities {
    .dotted-pattern {
        @apply relative;
    }

    .dotted-pattern::before {
        @apply absolute inset-0 size-full bg-dotted-pattern bg-[length:128px_128px] opacity-5 content-[''];
    }
}

/* HTML: <div class="loader"></div> */
/* .loader {
    width: 40px;
    height: 40px;
    position: relative;
    --c:no-repeat linear-gradient(#25b09b 0 0);
    background:
      var(--c) center/100% 10px,
      var(--c) center/10px 100%;
  }
  .loader:before {
    content:'';
    position: absolute;
    inset: 0;
    background:
      var(--c) 0    0,
      var(--c) 100% 0,
      var(--c) 0    100%,
      var(--c) 100% 100%;
    background-size: 15.5px 15.5px;
    animation: l16 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  @keyframes l16 {
     33%  {inset:-10px;transform: rotate(0deg)}
     66%  {inset:-10px;transform: rotate(90deg)}
     100% {inset:0    ;transform: rotate(90deg)}
  } */
